<h1 class="text-center">Editando Conta Bancaria</h1>

<%= render 'form', accountbank: @accountbank %>

<%= link_to 'Mostrar', @accountbank , class:'btn btn-primary'%> 
<%= link_to 'Voltar', accountbanks_path , class:'btn btn-primary'%>
