<h1 class="text-center">Editando Tipo de Documento</h1>

<%= render 'form', doctype: @doctype %>

<%= link_to 'Mostrar', @doctype , class:'btn btn-primary'%> 
<%= link_to 'Voltar', doctypes_path , class:'btn btn-primary'%>
