<div class="box box-primary container box-body">
<p>
  <strong>Nome:</strong>
  <%= @doctype.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @doctype.descricao %>
</p>
</div>
<%= link_to 'Editar', edit_doctype_path(@doctype), class:'btn btn-primary' %> 
<%= link_to 'Voltar', doctypes_path, class:'btn btn-primary' %>
