<h1 class="text-center">Editando Conta Financeira</h1>

<%= render 'form', accountfinancial: @accountfinancial %>

<%= link_to 'Mostrar', @accountfinancial, class:'btn btn-primary' %> 
<%= link_to 'Voltar', accountfinancials_path , class:'btn btn-primary'%>
