<h1 class="text-center">Editando Empresa</h1>

<%= render 'form', company: @company %>

<%= link_to 'Mostrar', @company , class:'btn btn-primary'%> 
<%= link_to 'Voltar', companies_path , class:'btn btn-primary'%>
