<h1 class="text-center">Editando Empresa Fornecedora</h1>

<%= render 'form', companyprovider: @companyprovider %>

<%= link_to 'Mostrar', @companyprovider , class:'btn btn-primary'%> 
<%= link_to 'Voltar', companyproviders_path , class:'btn btn-primary'%>
