<h1 class="text-center">Editando Tipo de Pagamentos</h1>

<%= render 'form', typepayment: @typepayment %>

<%= link_to 'Mostrar', @typepayment , class:'btn btn-primary'%> 
<%= link_to 'Voltar', typepayments_path , class:'btn btn-primary'%>
