<div class="box box-primary container box-body">
<p>
  <strong>Nome:</strong>
  <%= @typepayment.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @typepayment.descricao %>
</p>

</div>
<%= link_to 'Editar', edit_typepayment_path(@typepayment) , class:'btn btn-primary'%> 
<%= link_to 'Voltar', typepayments_path , class:'btn btn-primary'%>