<h1 class="text-center">Editando Categoria</h1>

<%= render 'form', category: @category %>

<%= link_to 'Mostrar', @category , class:'btn btn-success' %> 
<%= link_to 'Voltar', categories_path , class:'btn btn-success' %>
