<div class="box box-primary container box-body">
<p>
  <strong>Nome:</strong>
  <br>
  <%= @category.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <br>
  <%= @category.descricao %>
</p>

</div>
<%= link_to 'Editar', edit_category_path(@category), class:'btn btn-primary' %> 
<%= link_to 'Voltar', categories_path , class:'btn btn-primary'%>