<h1 class="text-center">Editando Transações</h1>

<%= render 'form', transaction: @transaction %>

<%= link_to 'Mostrar', @transaction , class:'btn btn-primary'%> 
<%= link_to 'Voltar', transactions_path , class:'btn btn-primary'%>
